<ul class="list-teasers">
    {% for item in include.collection %}
        <li class="teaser teaser--responsive" style="display: flex; align-items: center; margin-bottom: 1.5em;">
            <div class="teaser__image-col">
                {% if item.image %}
                    <div class="teaser__image-wrapper">
                        <img src="{{ item.image | relative_url }}" alt="{{ item.title }}">
                    </div>
                {% else %}
                    <div class="teaser__image-wrapper"></div>
                {% endif %}
            </div>
            <div class="teaser__info-col">
                <a href="{% if item.external_url %}{{ item.external_url }}{% else %}{{ item.url | prepend: site.baseurl }}{% endif %}" {% if item.external_url %}target="_blank" rel="noopener"{% endif %}>
                    <span class="teaser__title">{{ item.title }}</span>
                </a>
                {% if item.date %}
                    <span class="teaser__date">{{ item.date | date: "%d %B %Y" }}</span>
                {% endif %}
            </div>
        </li>
    {% endfor %}
</ul>